header {
  background-color: #46424d;
  color: #FFF;
}

h1 {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: #CBC9CF;
  font-weight: 300;
}

h3 {
  color: #FFF;
  font-weight: 300;
  font-size: 18px;
}

p {
  color: #cbc9cf;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}



body {
  margin: 0px;
  background-color: #2B2733;
  font-weight: 300;
}

.user-interaction {
  background-color: #46424d;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 100px;
}

.box1 {
  flex: 2;
  padding: 20px;
}

.box2 {
  flex: 1;
  border-left: 2px solid #46424d;
  padding: 20px;
}

.past-act-msg {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 180px;
  height: 80px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  width: 15%;
}

.user-specs-btn {
  background-color: #fff;
  color: #2B2733;
  white-space: nowrap;
  font-size: 18px;
  height: 40px;
  width: 220px;
  margin-top: 60px;
  margin-right: 0px;
}

.start-button {
  display: flex;
  justify-content: flex-end;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #cbc9cf;
  color: #CBC9CF;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
}

.times {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.min {
  margin-right: 60px;
  flex: 1;
}

.sec {
  flex: 1;
  margin-left: 60px;
}

main {
  background-color: #2B2733;
  color: #CBC9CF;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
